{% include 'base.html' %}
{% load static %}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #2c85e9;
    }

    .tabs-container {
        max-width: 1000px;
        margin: 50px auto;
        padding: 25px;
    }

    .tabs {
        display: flex;
    }

    .tabs li a {
        display: block;
        position: relative;
        top: 4px;
        padding: 10px 25px;
        border-radius: 2px 2px 0 0;
        opacity: 0.7;
        transition: all 0.1s ease-in-out;
    }

    .tabs li.active a,
    .tabs li a:hover {
        opacity: 1;
        top: 0;
    }

    .tabs-content {
        position: relative;
        z-index: 2;
        padding: 25px;
        border-radius: 0 4px 4px 4px;
    }

    .tabs-panel {
        display: none;
    }

    .tabs-panel.active {
        display: block;
    }

    .tabs-panel p + div {
        margin-top: 15px;
    }

    @media screen and (max-width: 600px) {
        .tabs {
            flex-direction: column;
        }

        .tabs li {
            width: 100%;
        }

        .tabs li:not(:last-child) {
            margin-right: 0;
        }

        .tabs li a {
            border-radius: 0;
            opacity: 1;
            top: 0;
        }
    }

    .message-item {
        animation: fadeOut 6s forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }

    .active.nav-item a.nav-link {
        background-color: #419bed;
        color: white;
    }

    @media (max-width: 768px) {
        .nav-pills .nav-item {
            list-style-type: none;
        }
    }

</style>
<title>Профиль пользователя</title>
<body class="g-sidenav-show bg-gray-200">
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
       id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
           aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="{% url 'sensor_list' %}">
            <img src="{% static 'img/google-webdev.svg' %}" class="navbar-brand-img h-100"
                 alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">{{ user.username }}</span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white active bg-gradient-info">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">person_add</i>
                    </div>
                    <span class="nav-link-text ms-1">Профиль пользователя</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'sensor_list' %}">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">table_view</i>
                    </div>
                    <span class="nav-link-text ms-1">Датчики</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Страницы
                    аккаунта {{ user.username }}</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white " href="{% url 'chats' %}">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">message</i>
                    </div>
                    <span class="nav-link-text ms-1">Сообщения</span>
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white " href='{% url 'logout' %}'>
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">login</i>
                        </div>
                        <span class="nav-link-text ms-1">Выйти</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white " href='{% url 'login' %}'>
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">login</i>
                        </div>
                        <span class="nav-link-text ms-1">Войти</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'register' %}">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">assignment</i>
                        </div>
                        <span class="nav-link-text ms-1">Регистрация</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</aside>
<div class="main-content position-relative max-height-vh-100 h-100">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{% url 'sensor_list' %}">Страница</a>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Профиль пользователя</li>
                </ol>
            </nav>
            {% include 'include/navbar.html' %}
        </div>
    </nav>
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url({% static 'img/tekhnologichnyi-fon-170.webp' %});">
            <span class="mask  bg-gradient-info  opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                    <img src="{{ profile.photo.url }}" alt="profile_image"
                         class="w-100 border-radius-lg shadow-sm" height="50">
                </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">
                            {{ profile.surnames }} {{ profile.name }}
                        </h5>
                        <p class="mb-0 font-weight-normal text-sm">
                            Python developer
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                    <div class="nav-wrapper position-relative end-0">
                        <ul class="tabs nav nav-pills nav-fill p-1" role="tablist">
                            <li class="active nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="javascript:;"
                                   role="tab" aria-selected="true">
                                    <i class="material-icons text-lg position-relative">home</i>
                                    <span class="ms-1">Устройства</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="javascript:;" role="tab"
                                   aria-selected="false">
                                    <i class="material-icons text-lg position-relative">settings</i>
                                    <span class="ms-1">Настройки</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div>
                {#                <ul class="tabs nav nav-pills nav-fill p-1">#}
                {#                    <li class="active nav-item">#}
                {#                        <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="javascript:;" role="tab"#}
                {#                           aria-selected="true">#}
                {#                            <i class="material-icons text-lg position-relative">home</i>#}
                {#                            <span class="ms-1">Мои устройства</span>#}
                {#                        </a>#}
                {#                    </li>#}
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="javascript:;" role="tab"#}
                {#                           aria-selected="false">#}
                {#                            <i class="material-icons text-lg position-relative">settings</i>#}
                {#                            <span class="ms-1">Настройки</span>#}
                {#                        </a>#}
                {#                    </li>#}
                {#                </ul>#}
                <div>
                    <div class="tabs-panel active" data-index="0">
                        <div class="container-fluid py-4">
                            <div class="row">
                                <div>
                                    <div class="card-body px-0 pb-2">
                                        <div class="table-responsive p-0">
                                            <table class="table align-items-center mb-0">
                                                <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                        Название
                                                    </th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Владелец
                                                    </th>
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                        Статус
                                                    </th>
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                        Дата обновления
                                                    </th>
                                                    <th class="text-secondary opacity-7"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for sensor in profile.sensor.all %}
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex px-2 py-1">
                                                                <div>
                                                                    <i class="material-icons"
                                                                       style="font-size: 50px;">airline_seat_flat</i>
                                                                </div>
                                                                <div class="d-flex flex-column justify-content-center">
                                                                    <a href="{% url 'sensor_detail' sensor.pk %}"><h6
                                                                            class="mb-0 text-sm">{{ sensor.name }}</h6>
                                                                    </a>
                                                                    {% for country in sensor.country.all %}
                                                                        <p class="text-xs text-secondary mb-0">{{ country.name }}</p>
                                                                    {% endfor %}
                                                                    {% for city in sensor.city.all %}
                                                                        <p class="text-xs text-secondary mb-0">{{ city.name }}</p>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="text-xs font-weight-bold mb-0">{{ sensor.owner }}</p>
                                                        </td>
                                                        <td class="align-middle text-center text-sm">
                                                            {% if sensor.is_blocked %}
                                                                <span class="badge badge-sm bg-gradient-danger">Заблокирован</span>
                                                            {% else %}
                                                                {% if sensor.work %}
                                                                    <span class="badge badge-sm bg-gradient-success">Онлайн</span>
                                                                {% else %}
                                                                    <span class="badge badge-sm bg-gradient-secondary">Оффлайн</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="align-middle text-center">
                                                            <span class="text-secondary text-xs font-weight-bold">{{ sensor.date_added | date:"Y/m/d H:i:s" }}</span>
                                                        </td>
                                                        <td class="align-middle">
                                                            <a href="{% url 'sensor_detail' sensor.pk %}"
                                                               class="text-secondary font-weight-bold text-xs"
                                                               data-toggle="tooltip"
                                                               data-original-title="Edit user">
                                                                Подробнее
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-panel" data-index="1">
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <div class="card card-plain h-100">
                                    <div class="card-header pb-0 p-3">
                                        <h6 class="mb-0">Настройки платформы</h6>
                                    </div>
                                    <div class="card-body p-3">
                                        <h6 class="mb-0">Аккаунт</h6>
                                        <ul class="list-group">
                                            <li class="list-group-item border-0 px-0">
                                                <div class="form-check form-switch ps-0">
                                                    <a class="nav-link mb-0 py-1 active"
                                                       href="{% url "password_change" %}"
                                                       role="tab" aria-selected="true">
                                                        <i class="material-icons text-lg position-relative">password</i>
                                                        <span class="ms-1">Смена пароля</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="list-group-item border-0 px-0">
                                                <div class="form-check form-switch ps-0">
                                                    <a class="nav-link mb-0 py-1 active " data-bs-toggle="tab"
                                                       href="javascript:;"
                                                       role="tab" aria-selected="true">
                                                        <i class="material-icons text-lg position-relative">email</i>
                                                        <span class="ms-1">Смена почты</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="list-group-item border-0 px-0">
                                                <div class="form-check form-switch ps-0">
                                                    <input class="form-check-input ms-auto" type="checkbox"
                                                           id="flexSwitchCheckDefault2" checked>
                                                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                                           for="flexSwitchCheckDefault2">В разработке</label>
                                                </div>
                                            </li>
                                        </ul>
                                        <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4">
                                            ПРИЛОЖЕНИЕ</h6>
                                        <ul class="list-group">
                                            <li class="list-group-item border-0 px-0">
                                                <div class="form-check form-switch ps-0">
                                                    <input class="form-check-input ms-auto" type="checkbox"
                                                           id="flexSwitchCheckDefault3">
                                                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                                           for="flexSwitchCheckDefault3">В разработке</label>
                                                </div>
                                            </li>
                                            <li class="list-group-item border-0 px-0">
                                                <div class="form-check form-switch ps-0">
                                                    <input class="form-check-input ms-auto" type="checkbox"
                                                           id="flexSwitchCheckDefault4" checked>
                                                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                                           for="flexSwitchCheckDefault4">В разработке</label>
                                                </div>
                                            </li>
                                            <li class="list-group-item border-0 px-0 pb-0">
                                                <div class="form-check form-switch ps-0">
                                                    <input class="form-check-input ms-auto" type="checkbox"
                                                           id="flexSwitchCheckDefault5">
                                                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                                           for="flexSwitchCheckDefault5">В разработке</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="card card-plain h-100">
                                    <div class="card-header pb-0 p-3">

                                        <div class="row">
                                            <div class="col-md-8 d-flex align-items-center">
                                                <h6 class="mb-0">Информация профиля</h6>
                                            </div>
                                            <div class="col-md-4 text-end">
                                                <a href="{% url 'profile_edit' user.profile.slug %}">
                                                    <i class="fas fa-user-edit text-secondary text-sm"
                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                       title="Изменить данные"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-3">
                                        <ul class="list-group">
                                            <li class="list-group-item border-0 ps-0 text-sm"><strong
                                                    class="text-dark">Телефон:</strong>
                                                <a href="tel:{{ profile.work_phone }}">{{ profile.work_phone }}</a>
                                            </li>
                                            <li class="list-group-item border-0 ps-0 text-sm"><strong
                                                    class="text-dark">Email:</strong> &nbsp;
                                                <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                                            </li>
                                            <li class="list-group-item border-0 ps-0 text-sm"><strong
                                                    class="text-dark">Местоположение:</strong>
                                                &nbsp; В разработке
                                            </li>
                                            <li class="list-group-item border-0 ps-0 pb-0">
                                                <strong class="text-dark text-sm">Social:</strong> &nbsp;
                                                <a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0"
                                                   href="javascript:;">
                                                    <i class="fab fa-facebook fa-lg"></i>
                                                </a>
                                                <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0"
                                                   href="javascript:;">
                                                    <i class="fab fa-twitter fa-lg"></i>
                                                </a>
                                                <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0"
                                                   href="javascript:;">
                                                    <i class="fab fa-instagram fa-lg"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="card card-plain h-100">
                                    <div class="card-header pb-0 p-3">
                                        <h6 class="mb-0">Чаты</h6>
                                    </div>
                                    <div class="card-body p-3">
                                        <ul class="list-group">
                                            <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                                                <div class="avatar me-3">
                                                    <img src="{% static 'img/ava.png' %}" alt="kal"
                                                         class="border-radius-lg shadow">
                                                </div>
                                                <div class="d-flex align-items-start flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">Sophie B.</h6>
                                                    <p class="mb-0 text-xs">Hi! I need more information..</p>
                                                </div>
                                                <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
                                                   href="{% url 'chats' %}">Написать</a>
                                            </li>
                                            <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                                                <div class="avatar me-3">
                                                    <img src="{% static 'img/ava.png' %}" alt="kal"
                                                         class="border-radius-lg shadow">
                                                </div>
                                                <div class="d-flex align-items-start flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">Anne Marie</h6>
                                                    <p class="mb-0 text-xs">Awesome work, can you..</p>
                                                </div>
                                                <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
                                                   href="{% url 'chats' %}">Написать</a>
                                            </li>
                                            <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                                                <div class="avatar me-3">
                                                    <img src="{% static 'img/ava.png' %}" alt="kal"
                                                         class="border-radius-lg shadow">
                                                </div>
                                                <div class="d-flex align-items-start flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">Ivanna</h6>
                                                    <p class="mb-0 text-xs">About files I can..</p>
                                                </div>
                                                <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
                                                   href="{% url 'chats' %}">Написать</a>
                                            </li>
                                            <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                                                <div class="avatar me-3">
                                                    <img src="{% static 'img/ava.png' %}" alt="kal"
                                                         class="border-radius-lg shadow">
                                                </div>
                                                <div class="d-flex align-items-start flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">Peterson</h6>
                                                    <p class="mb-0 text-xs">Have a great afternoon..</p>
                                                </div>
                                                <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
                                                   href="{% url 'chats' %}">Написать</a>
                                            </li>
                                            <li class="list-group-item border-0 d-flex align-items-center px-0">
                                                <div class="avatar me-3">
                                                    <img src="{% static 'img/ava.png' %}" alt="kal"
                                                         class="border-radius-lg shadow">
                                                </div>
                                                <div class="d-flex align-items-start flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">Nick Daniel</h6>
                                                    <p class="mb-0 text-xs">Hi! I need more information..</p>
                                                </div>
                                                <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
                                                   href="{% url 'chats' %}">Написать</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="position-fixed bottom-1 end-1 z-index-2">
            <div class="toast fade show p-2 mt-2 bg-gradient-info" role="alert" aria-live="assertive" id="infoToast"
                 aria-atomic="true" data-bs-delay="5000">
                <div class="toast-header bg-transparent border-0">
                    <i class="material-icons text-white me-2">
                        notifications
                    </i>
                    <span class="me-auto text-white font-weight-bold">Оповещение</span>
                    <small class="text-white">Только что</small>
                    <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast"
                       aria-label="Close"></i>
                </div>
                <hr class="horizontal light m-0">
                <div class="toast-body text-white">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% include 'include/setting.html' %}
{% include 'include/script.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, {
                delay: 5000
            }).show();
        });
    });
</script>
<script>
    const tabLinks = document.querySelectorAll(".tabs a");
    const tabPanels = document.querySelectorAll(".tabs-panel");

    for (let el of tabLinks) {
        el.addEventListener("click", e => {
            e.preventDefault();

            document.querySelector(".tabs li.active").classList.remove("active");
            document.querySelector(".tabs-panel.active").classList.remove("active");

            const parentListItem = el.parentElement;
            parentListItem.classList.add("active");
            const index = [...parentListItem.parentElement.children].indexOf(parentListItem);

            const panel = [...tabPanels].filter(el => el.getAttribute("data-index") == index);
            panel[0].classList.add("active");
        });
    }
</script>
</body>