{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'base.html' %}
<title>Регистрация</title>
<body class="">

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                             style="background-image: url('{% static 'img/illustrations/illustration-signup.jpg' %}'); background-size: cover;">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                            <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Регистрация
                                пользователя</h4>
                            <p class="text-white text-center mt-2 mb-0">Введите логин и пароль для регистрации</p>
                            <div class="row mt-4">
                                <div class="col-2 text-center ms-auto">
                                    <a class="btn btn-link px-3" href="{% url 'register' %}">
                                        <i class="fas fa-home text-white text-lg"></i>
                                    </a>
                                </div>
                                <div class="col-2 text-center px-1">
                                    <a class="btn btn-link px-3" href="{% url 'register' %}">
                                        <i class="fas fa-user-circle text-white text-lg"></i>
                                    </a>
                                </div>
                                <div class="col-2 text-center px-1">
                                    <a class="btn btn-link px-3" href="{% url 'login' %}">
                                        <i class="fas fa-key text-white text-lg"></i>
                                    </a>
                                </div>
                                <div class="col-2 text-center me-auto">
                                    <a class="btn btn-link px-3" href="{% url 'register' %}"">
                                    <i class="fa fa-google text-white text-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-plain">
                            <div class="card-body">
                                <form role="form" action="." method="post">
                                    {% csrf_token %}
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Логин</label>
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Имя пользователя</label>
                                        <input type="text" class="form-control" name="first_name">
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" name="email">
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Пароль</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Повторный пароль</label>
                                        <input type="password" class="form-control" name="password2">
                                    </div>
                                    <div class="form-check form-check-info text-start ps-0">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                               checked>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Я принимаю условия <br><a href="javascript:;"
                                                                      class="text-dark font-weight-bolder">пользовательского
                                            соглашения</a>
                                        </label>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit"
                                                class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">
                                            Зарегистрироваться
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-2 text-sm mx-auto">
                                    Уже есть аккаунт?
                                    <a href="{% url 'login' %}" class="text-primary text-gradient font-weight-bold">Войти</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include 'include/script.html' %}
</body>

</html>