{% load static %}
{% include 'base.html' %}
<title>
    Регистрация
</title>
<style>
    .btn {
        transition: 0.2s ease-out;
    }

    .btn:hover {
        color: #f5f5f5;
    }

    .dm-overlay {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.65);
        display: none;
        overflow: auto;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .dm-overlay:target {
        display: block;
        -webkit-animation: fade .6s;
        -moz-animation: fade .6s;
        animation: fade .6s;
    }

    .dm-table {
        display: table;
        width: 100%;
        height: 100%;
    }

    .dm-cell {
        display: table-cell;
        padding: 0 1em;
        vertical-align: middle;
        text-align: center;
    }

    .dm-modal {
        border-radius: 0.5rem;
        display: inline-block;
        padding: 20px;
        max-width: 50em;
        background: #ffffff;
        -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
        color: #000000;
        text-align: left;
        position: relative;
        z-index: 9999;
    }

    .close {
        float: right;
        width: 30px;
        height: 30px;
        color: #338ceb;
        text-align: center;
        text-decoration: none;
        line-height: 26px;
        cursor: pointer;
    }

    .close:after {
        display: block;
        border: 2px solid #277fe8;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        content: 'X';
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        transition: all 0.6s;
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        transform: scale(0.85);
    }

    .close:hover:after {
        border-color: #ff0000;
        color: #ff0000;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    @media (max-width: 767px) {
        .dm-modal {
            top: 85px;
        }
    }

    @-moz-keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1
        }
    }

    @-webkit-keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1
        }
    }

    .input-group {
        position: relative;
    }

    .input-group input[type="text"],
    .input-group input[type="email"],
    .input-group input[type="password"] {
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 10px;
        width: 100%;
        transition: border-color 0.3s;
    }

    .input-group input[type="text"]:focus,
    .input-group input[type="email"]:focus,
    .input-group input[type="password"]:focus {
        border-color: #007bff;
    }

    .input-group label {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
        transition: top 0.3s, font-size 0.3s;
    }

    .input-group input[type="text"]:focus + label,
    .input-group input[type="text"]:valid + label,
    .input-group input[type="email"]:focus + label,
    .input-group input[type="email"]:valid + label,
    .input-group input[type="password"]:focus + label,
    .input-group input[type="password"]:valid + label {
        top: -40px;
        font-size: 12px;
        color: #007bff;
    }

    .input-group input[type="text"]:focus,
    .input-group input[type="email"]:focus,
    .input-group input[type="password"]:focus {
        border-bottom: 3px solid #007bff;
    }

    .input-group label::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #007bff;
        transition: width 0.3s;
    }

    .input-group input[type="text"]:focus + label::after,
    .input-group input[type="email"]:focus + label::after,
    .input-group input[type="password"]:focus + label::after,
    .input-group input[type="text"]:valid + label::after,
    .input-group input[type="email"]:valid + label::after,
    .input-group input[type="password"]:valid + label::after {
        width: 100%;
    }

    .alert-message {
        border-radius: 0.5rem;
        margin-bottom: 10px;
        padding: 7px;
    }
</style>
<body class="bg-gray-200">
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute  py-2 start-0 end-0 mx-3 my-3"
                 style="margin-bottom: 20px">
                <div class="container-fluid ps-2 pe-0">
                    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="{% url 'sensor_list' %}">
                        Главная
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                            aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link me-2" href="#">
                                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                                    Профиль
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="{% url 'login' %}">
                                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                                    Войти
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="{% url "password_reset" %}">
                                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                                    Сброс пароля
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="{% url 'register' %}">
                                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                                    Регистрация
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100"
         style="background-image: url({% static 'img/shifrovanie.webp' %});">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-9">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-info shadow-primary border-radius-lg py-3 pe-1">
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Регистрация
                                    пользователя</h4>
                                <p class="text-white text-center mt-2 mb-0">Введите логин и пароль для регистрации</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form" action="." method="post">
                                {% csrf_token %}
                                {% if user_form.errors %}
                                    <div class=" alert-message bg-gradient-danger" role="alert">
                                        {% for field in user_form %}
                                            {% for error in field.errors %}
                                                <p class="text-white text-center mt-2 mb-0"> {{ error }}</p>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in user_form.non_field_errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="input-group input-group-outline mb-3">
                                    <input type="text" class="form-control" id="username" name="username" required>
                                    <label for="username">Логин</label>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <input type="text" class="form-control" id="username" name="first_name" required>
                                    <label for="username">Имя пользователя</label>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <input type="email" class="form-control" id="username" name="email" required>
                                    <label for="username">Email</label>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <input type="password" class="form-control" id="username" name="password" required>
                                    <label for="username">Пароль</label>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <input type="password" class="form-control" id="username" name="password2" required>
                                    <label for="username">Повторный пароль</label>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <input type="text" class="form-control" id="code" name="code" required>
                                    <label for="code">Код регистрации</label>
                                </div>
                                <div class="form-check form-check-info text-start ps-0">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                           checked>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Я принимаю условия <br><a href="#win1"
                                                                  class="text-dark font-weight-bolder">пользовательского
                                        соглашения</a>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <button type="submit"
                                            class="btn btn-lg bg-gradient-info btn-lg w-100 mt-4 mb-0">
                                        Зарегистрироваться
                                    </button>
                                </div>
                            </form>
                            <p class="mt-4 text-sm text-center">
                                Уже есть аккаунт?
                                <a href="{% url 'login' %}"
                                   class="text-info text-gradient font-weight-bold">Войдите!</a>
                            </p>
                            <div class="dm-overlay" id="win1">
                                <div class="dm-table">
                                    <div class="dm-cell">
                                        <div class="dm-modal">
                                            <a href="#close" class="close"></a>
                                            <h3>Пользовательское соглашение</h3>
                                            <p><strong style="text-align: center;">1) Введение</strong><br>
                                                Данное пользовательское соглашение устанавливает
                                                условия использования сервиса регистрации пользователей на данном
                                                веб-сайте . Прежде чем использовать сервис, пожалуйста,
                                                внимательно ознакомьтесь с условиями настоящего Соглашения.</p>

                                            <p><strong>2) Права и обязанности пользователя</strong><br>
                                                Пользователь обязуется предоставить достоверную и актуальную информацию
                                                при регистрации на сайте.<br>
                                                Пользователь несет ответственность за безопасность своего пароля и
                                                личных данных, а также за любые действия, совершенные с использованием
                                                его учетной записи.<br>
                                                Пользователь обязуется соблюдать законы и правила пользования Сайтом.
                                            </p>

                                            <p><strong>3) Конфиденциальность</strong><br>
                                                Мы стремимся обеспечить конфиденциальность и безопасность данных наших
                                                пользователей. Личная информация пользователя хранится и обрабатывается
                                                в соответствии с нашей политикой конфиденциальности.</p>

                                            <p><strong>4) Изменения и дополнения</strong><br>
                                                Администрация сайта оставляет за собой право вносить изменения и
                                                дополнения в настоящее Соглашение. Пользователь обязуется периодически
                                                проверять условия Соглашения на предмет изменений.</p>

                                            <p><strong>5) Завершение использования сервиса</strong><br>
                                                Пользователь вправе в любое время прекратить использование сервиса и
                                                удалить свою учетную запись. В случае нарушения правил использования
                                                Сайта, администрация оставляет за собой право приостановить или удалить
                                                учетную запись пользователя без предварительного уведомления.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.querySelectorAll('.input-group input[type="text"], .input-group input[type="email"], .input-group input[type="password"]');
        input.forEach(function (el) {
            el.addEventListener('focus', function () {
                el.nextElementSibling.style.top = '-18px';
                el.nextElementSibling.style.fontSize = '12px';
            });

            el.addEventListener('blur', function () {
                if (!el.value) {
                    el.nextElementSibling.style.top = '10px';
                    el.nextElementSibling.style.fontSize = '';
                }
            });
        });
    });
</script>
{% include 'include/script.html' %}
</body>