{% load static %}
{% include 'base.html' %}
<style>
    .blocked {
        display: inline-block;
        height: 38px;
        line-height: 38px;
        margin-right: 10px;
        position: relative;
        vertical-align: middle;
        font-size: 20px;
        user-select: none;
    }

    .checkbox-green {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        margin-right: 10px;
        position: relative;
        vertical-align: middle;
        font-size: 14px;
        user-select: none;
    }

    .checkbox-green .checkbox-green-switch {
        display: inline-block;
        height: 40px;
        width: 100px;
        box-sizing: border-box;
        position: relative;
        border-radius: 2px;
        background: #E53935;
        transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    }

    .checkbox-green .checkbox-green-switch:before {
        content: attr(data-label-on);
        display: inline-block;
        box-sizing: border-box;
        width: 54px;
        padding: 0 12px;
        position: absolute;
        top: 0;
        left: 45px;
        text-transform: uppercase;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 10px;
        line-height: 40px;
    }

    .checkbox-green .checkbox-green-switch:after {
        content: attr(data-label-off);
        display: inline-block;
        box-sizing: border-box;
        width: 54px;
        height: 38px;
        border-radius: 1px;
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: white;
        line-height: 37px;
        font-size: 13px;
        color: #777;
        transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    }

    .checkbox-green input[type="checkbox"] {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch {
        background-color: #43A047;
    }

    .checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:before {
        content: attr(data-label-off);
        left: 0;
    }

    .checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:after {
        content: attr(data-label-on);
        color: #43A047;
        transform: translate3d(44px, 0, 0);
    }

    .checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover {
        cursor: pointer;
    }

    .checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover:after {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    }

    .checkbox-green input[type=checkbox]:disabled + .checkbox-green-switch {
        opacity: 0.6;
        filter: grayscale(50%);
    }

    .checkbox-green.focused .checkbox-green-switch:after {
        box-shadow: inset 0px 0px 4px #E53935;
    }

    .range-slider,
    .range-ticks,
    .label-range {
        display: flex;
    }

    .range-slider {
        flex-flow: column nowrap;
        font-size: calc(20px + (25) * (40vw) / (2000));
        box-sizing: border-box;
    }

    .range-slider input[type=range],
    .range {
        border-radius: 0.5em;
        overflow: hidden;
        position: relative;
        height: 1.5em;
    }

    .range-slider input[type=range] {
        background-color: transparent;
        font: 1em/1.5 'Roboto', sans-serif;
        box-shadow: 0.3em 0.3em 0.4em #c1c2c5 inset, -0.3em -0.3em 0.4em #fff inset;
        display: block;
        padding: 0 0.1em;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .range-slider input[type=range]:focus {
        outline: transparent;
    }

    .range-ticks {
        font: 1em/1.5 'Roboto', sans-serif;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
        position: absolute;
        top: 0.04em;
        left: 0.75em;
        width: calc(100% - 1.5em);
        height: 100%;
    }

    .range-tick,
    .range-tick-text {
        display: inline-block;
    }

    .range-tick {
        color: #454954;
        font-size: 0.5em;
        text-align: center;
        width: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .range-tick-text {
        transform: translateX(-50%);
    }

    .label-range {
        font: 0.8em/1.5 'Roboto', sans-serif;
        margin-bottom: 0.5em;
    }

    .data-range {
        display: flex;
        height: 3em;
        width: 3em;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: bold 0.5em/1.5 'Roboto', sans-serif;
        color: #FFF;
        position: absolute;
        top: 0;
        z-index: 2;
        pointer-events: none;
        background-color: #1A73E8;
        border: 0;
        border-radius: 30%;
        box-shadow: -0.3em -0.3em 0.5em #0d518c inset, 0 -0.2em 0.2em 0 rgba(0, 0, 0, 0.2), 0.3em 0.5em 0.8em rgba(0, 0, 0, 0.3);
    }

    .blocked-text {
        --bs-badge-padding-x: 0.9em;
        --bs-badge-padding-y: 0.55em;
        --bs-badge-font-size: 0.75em;
        --bs-badge-font-weight: 700;
        --bs-badge-color: #fff;
        --bs-badge-border-radius: 0.45rem;
        display: inline-block;
        padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
        font-size: var(--bs-badge-font-size);
        font-weight: var(--bs-badge-font-weight);
        line-height: 1;
        color: var(--bs-badge-color);
        text-align: center;
        vertical-align: baseline;
        border-radius: var(--bs-badge-border-radius);
    }

    .blocked {
        margin-bottom: 10px;
        white-space: normal;
    }

    @media only screen and (max-width: 667px) {
        .blocked {
            text-align: left;
            white-space: normal;
        }
    }

    .text-warningg {
        color: #0d518c;
        text-decoration: none;
    }

    .text-warningg:hover {
        color: #439f47;
    }

    #show-more-btn {
        padding: 4px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin-top: 5px;
    }

    #show-more-btn:hover {
        background-color: #0056b3;
    }

    .timer-container {
        display: flex;
        align-items: center;
    }

    .timer-input {
        width: 160px;
        height: 40px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 5px;
    }

    .invalid {
        border: 1px solid red;
    }

    .timer-button {
        width: 160px;
        height: 40px;
        padding: 5px 10px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .start {
        width: 160px;
        height: 40px;
        font-size: 24px;
        margin-left: 5px;
        letter-spacing: 0;
        text-transform: uppercase;
        background-size: 150%;
        background-position-x: 25%;
        position: relative;
        overflow: hidden;
        -webkit-appearance: none;
        border: none;
        border-radius: 5px;
    }

    .start.stop {
        background-color: red;
    }

    .start:not(.stop) {
        background-color: #439f47;
    }

    .start > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .start > div > i {
        margin-right: 5px;
    }


    .temperature-widget {
        display: flex;
        align-items: center;
        width: 200px;
        padding: 10px;
        font-family: Arial, sans-serif;
    }

    .temperature-icon {
        font-size: 60px;
        margin-right: 20px;
    }

    .temperature-info {
        display: flex;
        flex-direction: column;
    }

    .temperature-value {
        font-size: 48px;
        font-weight: bold;
    }

    .temperature-unit {
        font-size: 24px;
    }

    .cold {
        color: #007bff;
    }

    .normal {
        color: #28a745;
    }

    .hot {
        color: #dc3545;
    }

    .block-title {
        text-align: center;
        font-size: 10px;
    }

    .fan-widget {
        display: flex;
        align-items: center;
        padding: 10px;
        font-family: Arial, sans-serif;
    }

    .fan-icon {
        font-size: 60px;
        margin-right: 20px;
    }

    .fan-info {
        display: flex;
        flex-direction: column;
    }

    .fan-value {
        font-size: 48px;
        font-weight: bold;
    }

    .fan-unit {
        font-size: 24px;
    }

    .low-speed {
        color: #007bff;
    }

    .normal-speed {
        color: #28a745;
    }

    .high-speed {
        color: #dc3545;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .spin-animation {
        animation: spin 2s linear infinite;
    }

    .demo {
        max-height: 100px;
    }

    .parent {
        overflow: auto;
        transform: scaleX(-1);
    }

    .sleeve {
        transform: scaleX(-1);
    }

    .parent2 {
        unicode-bidi: bidi-override;
        direction: rtl;
        overflow: scroll;
        overflow-x: hidden !important;
    }

    .sleeve2 {
        direction: ltr;
    }

    .valid {
        border: 1px solid green;
    }

    .timer-input {
        box-sizing: border-box;
        padding: 8px;
        font-size: 16px;
        border: 2px solid black;
        border-radius: 5px;
        transition: border-color 0.3s ease-in-out;
        background-color: white;
    }

    .timer-input.valid {
        border-color: #439f47;
    }

    .timer-input.warning {
        border-color: yellow;
    }

    .timer-input.alert {
        border-color: red;
    }

    .timer-button {
        border-radius: 5px;
    }
</style>
<title>Датчик {{ sensor.name }}</title>
<body class="g-sidenav-show  bg-gray-200">
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
       id="sidenav-main">
    <div style="margin: 10px 0px 10px 0px">
        <ul class="navbar-nav">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
               aria-hidden="true" id="iconSidenav"></i>
            <li class="nav-item">
                <a class="nav-link text-white active bg-gradient-info">
                    <div class="text-white text-center d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">tune</i>
                    </div>
                    <span class="nav-link-text ms-1">Подробности</span>
                </a>
            </li>
            <hr class="horizontal light mt-0 mb-2">
            {% if sensor.work %}
                <li class="nav-item">
                    <a class="nav-link text-white active bg-gradient-success">
                        <div class="text-white text-center d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">task_alt</i>
                        </div>
                        <span class="nav-link-text ms-1">{{ sensor.name }}</span>
                    </a>
                </li>

            {% else %}
                <a class="nav-link text-white active bg-gradient-danger">
                    <div class="text-white text-center d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">error</i>
                    </div>
                    <span class="nav-link-text ms-1">{{ sensor.name }}</span>
                </a>
            {% endif %}
        </ul>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'sensor_list' %}">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">table_view</i>
                        </div>
                        <span class="nav-link-text ms-1">Датчики</span>
                    </a>
                </li>
                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Страницы
                        аккаунта</h6>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white " href="{% url 'profiles:profile_detail' user.profile.slug %}">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">person_add</i>
                            </div>
                            <span class="nav-link-text ms-1">Профиль</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="{% url 'chats' %}">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">message</i>
                            </div>
                            <span class="nav-link-text ms-1">Сообщения</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href='{% url 'logout' %}'>
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">login</i>
                            </div>
                            <span class="nav-link-text ms-1">Выйти</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white " href='{% url 'login' %}'>
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">login</i>
                            </div>
                            <span class="nav-link-text ms-1">Войти</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="{% url 'register' %}">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">assignment</i>
                            </div>
                            <span class="nav-link-text ms-1">Регистрация</span>
                        </a>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Панель
                            администратора</h6>
                    </li>
                    <a class="nav-link text-white" href="{% url 'block_toggle' sensor_id=sensor.id %}">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">{% if sensor.blocked %}lock{% else %}
                                lock_open{% endif %}</i>
                        </div>
                        <span class="nav-link-text ms-1">{% if sensor.blocked %}Разблокировать{% else %}
                            Заблокировать{% endif %}</span>
                    </a>
                    <a href="#" class="nav-link text-white active bg-gradient-danger" id="deleteSensorLink">
                        <div class="text-white text-center d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">error</i>
                        </div>
                        <span class="nav-link-text ms-1">Удалить датчик</span>
                    </a>

                    <div class="modal fade" id="deleteSensorModal" tabindex="-1" role="dialog"
                         aria-labelledby="deleteSensorModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteSensorModalLabel">Подтверждение удаления</h5>
                                </div>
                                <div class="modal-body">
                                    Вы уверены, что хотите удалить датчик?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </ul>
        </div>
    </div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{% url 'sensor_list' %}">Страница</a>
                    </li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Подробное описание</li>
                </ol>
            </nav>
            {% include 'include/navbar.html' %}
        </div>
    </nav>
    <div class="container-fluid">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                {% if sensor.is_blocked %}
                    <div class="blocked">
                        <span class="badge badge-sm bg-gradient-danger">Это устройство заблокировано!</span>
                    </div>
                {% endif %}
            {% else %}
                <div class="blocked">
                    <span class="blocked-text badge-sm bg-gradient-danger">
                Ваше устройство заблокировано! <a href="{% url 'chats' %}"
                                                  class="text-warningg">Обратитесь в поддержку</a>

                </span>
                </div>
            {% endif %}
        {% endif %}
        <div class="row">
            {% if user.is_authenticated %}
                {% if sensor.is_blocked %}
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1">
                                <form method="post">
                                    {% csrf_token %}
                                    <label class="checkbox-green">
                                        <input type="checkbox" name="work" {% if sensor.work %}checked{% endif %}>
                                        <span class="checkbox-green-switch" data-label-on="ВКЛ"
                                              data-label-off="ВЫКЛ"></span>
                                    </label>
                                    <input type="submit" style="display: none;">
                                </form>
                            </div>
                            {% if sensor.work %}
                                <div class="col-sm-2">
                                    <div class="timer-container">
                                        <div>
                                            <input type="text" id="timeInput" class="timer-input" placeholder="мин:сек">
                                        </div>
                                        <div>
                                            <a id="startTimer"
                                               class="nav-link text-white start {% if sensor.start %}stop{% endif %}"
                                               href="#" method="post">
                                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                                    <i class="material-icons opacity-10">{% if sensor.start %}
                                                        power{% else %}
                                                        power_off{% endif %}</i>
                                                    <span>{% if sensor.start %}Стоп{% else %}Старт{% endif %}</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="range-slider">
                        <div class="label-range">Регулировка мощности</div>
                        <label for="range"></label><input id="range" type="range" name="range" min="0" max="100"
                                                          step="1"
                                                          value="{{ sensor.power }}"/>
                    </div>
                {% endif %}
            {% else %}
            {% endif %}
            <div class="d-flex " style="margin-top: 5px">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                {% if latest_log %}
                    <p class="mb-0 text-sm">Последнее обновление {{ latest_log.timestamp | date:"H:i:s" }}</p>
                {% endif %}
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                {% include 'charts/power.html' %}
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                {% include 'charts/voltage.html' %}
            </div>
            <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
                <div class="card" style="height: 100%">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                            <i class="material-icons opacity-10">border_color</i>
                        </div>
                        <form action="{% url 'download_logs' device_slug=sensor.slug %}" method="GET">
                            <div class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute"
                                 style="left: 90px; width: 130px">
                                <input type="date" name="start_date" class="form-control form-control-sm"
                                       style="color: white;">
                                <input type="date" name="end_date" class="form-control form-control-sm"
                                       style="color: white;">
                            </div>

                            <button type="submit" title="Скачать логи"
                                    class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute"
                                    style="left: 230px; border: 0;">
                                <i class="material-icons opacity-10" style="top: 2px">download</i>
                            </button>
                        </form>
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Логирование</p>
                        </div>
                    </div>
                    <div class="card-footer p-3 parent2  sleeve2  " id="myDiv"
                         style="overflow-y: scroll; height: 290px;">
                        <div id="logs-container">
                            {% for log in logs %}
                                <li>{{ log.log_type }} - {{ log.timestamp }}</li>
                                <li>Мощность: {{ log.previous_power }}%</li>
                                {% if log.previous_watt %}
                                    <li>{{ log.previous_watt }} Watt | {% if log.previous_volt %}
                                        {{ log.previous_volt }} Volt
                                    {% endif %}</li>
                                {% endif %}
                                <hr class="dark horizontal my-0">
                            {% endfor %}
                        </div>
                        <div class="progress">
                            <div id="progress-bar" class="progress-bar" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% if logs.has_next %}
                            <button id="show-more-btn" data-next-page="{{ logs.next_page_number }}">Показать еще
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mt-4 d-flex">
                <div class="card flex-grow-1">
                    <div class="block-title">
                        <h4>Температура</h4>
                    </div>
                    <div class="temperature-widget">
                        <div class="temperature-icon">
                            <i class="fas fa-thermometer-half"></i>
                        </div>
                        <div class="temperature-info">
                            <div class="temperature-value" id="temperature-value"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mt-4 d-flex">
                <div class="card flex-grow-1">
                    <div class="block-title">
                        <h4>Скорость кулера</h4>
                    </div>
                    <div class="fan-widget">
                        <div class="fan-icon">
                            <i class="fas fa-fan spin-animation"></i>
                        </div>
                        <div class="fan-info">
                            <div class="fan-value" id="fan-value"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mt-4 d-flex">
                <div class="card flex-grow-1">
                    <div class="block-title">
                        <h4>Рекомендации</h4>
                    </div>
                    <div class="recommendations-content" style="overflow-y: auto; max-height: 100px;">
                        <ul style="list-style: none;">
                            {% for recommendation in recommendations %}
                                <li class="d-flex" style="margin-left: -15px;">
                                    <div class="me-3 text-warning">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </div>
                                    <p style="margin-bottom: 0;">{{ recommendation }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mt-4 d-flex">
                <div class="card flex-grow-1">
                    <div class="block-title">
                        <h4>Предупреждения</h4>
                    </div>
                    <div class="recommendations-content" style="overflow-y: auto; max-height: 100px;">
                        <ul style="list-style: none;" id="warnings-list">
                            {% if sensor.work %}
                                {% for warning in warnings %}
                                    <li class="d-flex" style="margin-left: -15px;">
                                        <div class="me-3 text-danger">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </div>
                                        <p style="margin-bottom: 0;">{{ warning }}</p>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="d-flex" style="margin-left: -15px;">
                                    <div class="me-3 text-danger">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </div>
                                    <p style="margin-bottom: 0;">Устройство выключено</p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div>
                <div class="card" style="overflow: hidden;">
                    <div class="block-title">
                        <h4>Местоположение</h4>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1929.0934648516875!2d74.63813907565734!3d42.87372287142946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7a87341cc87%3A0x418f25e02c1d0649!2z0JrQoNCh0KM!5e0!3m2!1sru!2skg!4v1712504777277!5m2!1sru!2skg"
                            width="100%" height="400" style="border:0; margin: 1px" allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            {% include 'charts/power-chart.html' %}
        </div>
        <div class="row mt-4">
            {% include 'charts/voltage-chart.html' %}
        </div>

        <div style="display: none;">
            {% include 'charts/power.html' %}
            {% include 'charts/voltage.html' %}
        </div>
</main>

{% include 'include/script.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const timeInput = document.getElementById('timeInput');
        const startButton = document.getElementById('startTimer');
        let countdownInterval;
        let timerRunning = false;

        timeInput.addEventListener('input', function () {
            let value = this.value.replace(/\D/g, '');
            if (value.length > 2) {
                value = value.substring(0, 2) + ':' + value.substring(2);
            }
            if (value.length > 5) {
                value = value.substring(0, 5);
            }
            this.value = value;
        });

        function startCountdown(event) {
            event.preventDefault(); // Предотвращаем стандартное действие ссылки
            if (!timerRunning) {
                const timeArray = timeInput.value.split(':');
                const minutes = parseInt(timeArray[0], 10);
                const seconds = parseInt(timeArray[1], 10);

                if (isNaN(minutes) || isNaN(seconds) || minutes < 0 || seconds < 0 || seconds > 59) {
                    alert('Пожалуйста, введите время в формате мм:сс');
                    return;
                }

                let totalSeconds = minutes * 60 + seconds;

                // Вызываем функцию для изменения статуса start в модели перед началом отсчета времени
                toggleStartSensor();

                countdownInterval = setInterval(() => {
                    totalSeconds--;
                    if (totalSeconds < 0) {
                        clearInterval(countdownInterval);
                        alert('Сеанс завершен!');
                        resetTimer();
                        toggleStartSensor(); // Вызываем функцию для изменения статуса start в модели
                    } else {
                        updateTime(totalSeconds);
                    }
                }, 1000);

                startButton.querySelector('span').textContent = 'Стоп';
                timerRunning = true;
            } else {
                clearInterval(countdownInterval);
                resetTimer();
                toggleStartSensor(); // Вызываем функцию для изменения статуса start в модели
            }
        }

        // Функция для отправки запроса на изменение статуса start в модели Sensor
        function toggleStartSensor() {
            fetch("{% url 'toggle_start' sensor_id=sensor.id %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Ошибка сети');
                    }
                    return response.json();
                })
                .then(data => {
                    // Здесь можно обработать ответ сервера, если необходимо
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
        }

        function updateTime(totalSeconds) {
            const minutes = Math.floor(totalSeconds / 60);
            const seconds = totalSeconds % 60;
            timeInput.value = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
            updateBorderColor(totalSeconds);
        }

        function updateBorderColor(totalSeconds) {
            const minutes = Math.floor(totalSeconds / 60);
            if (minutes > 10) {
                timeInput.classList.remove('warning');
                timeInput.classList.remove('alert');
                timeInput.classList.add('valid');
            } else if (minutes > 5) {
                timeInput.classList.remove('valid');
                timeInput.classList.remove('alert');
                timeInput.classList.add('warning');
            } else {
                timeInput.classList.remove('valid');
                timeInput.classList.remove('warning');
                timeInput.classList.add('alert');
            }
        }

        function resetTimer() {
            clearInterval(countdownInterval);
            startButton.querySelector('span').textContent = 'Старт';
            timerRunning = false;
            timeInput.value = '';
            timeInput.classList.remove('valid');
            timeInput.classList.remove('warning');
            timeInput.classList.remove('alert');
        }

        startButton.addEventListener('click', startCountdown);
    });
</script>
<script>
    function updateSensorInfo(sensorId) {
        $.ajax({
            url: `/sensor-detail-ajax/${sensorId}/`,
            type: 'GET',
            success: function (response) {
                updateTemperature(response.temperature);
                updateFanSpeed(response.fan_speed);
            },
            error: function (xhr, status, error) {
                console.error('Ошибка при обновлении данных: ' + error);
            }
        });
    }

    $(document).ready(function () {
        const sensorId = {{ sensor.id }};
        updateSensorInfo(sensorId);
        setInterval(function () {
            updateSensorInfo(sensorId);
        }, 10000);
    });

    function updateTemperature(temperature) {
        const temperatureElement = document.getElementById('temperature-value');
        const temperatureIcon = '<sup>°C</sup>';

        temperatureElement.innerHTML = temperature + temperatureIcon;

        let temperatureClass = '';
        if (temperature < 30) {
            temperatureClass = 'cold';
        } else if (temperature >= 30 && temperature <= 50) {
            temperatureClass = 'normal';
        } else {
            temperatureClass = 'hot';
        }

        temperatureElement.className = 'temperature-value ' + temperatureClass;
    }

    function updateFanSpeed(speed) {
        const fanElement = document.getElementById('fan-value');
        const fanIcon = '<sup>об/мин</sup>';

        fanElement.innerHTML = speed + fanIcon;

        let speedClass = '';
        if (speed < 1000) {
            speedClass = 'low-speed';
        } else if (speed >= 1000 && speed <= 1500) {
            speedClass = 'normal-speed';
        } else {
            speedClass = 'high-speed';
        }

        fanElement.className = 'fan-value ' + speedClass;

        let rotationSpeed;
        if (speed >= 1 && speed <= 500) {
            rotationSpeed = 1000 / speed;
        } else if (speed >= 1700 && speed <= 2000) {
            rotationSpeed = 2000 / speed;
        } else {
            rotationSpeed = 1;
        }

        const fanIconElement = document.querySelector('.fan-icon i');
        fanIconElement.style.animationDuration = `${rotationSpeed}s`;

        if (speed > 0) {
            fanIconElement.parentElement.classList.add('spin-animation');
        } else {
            fanIconElement.parentElement.classList.remove('spin-animation');
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#show-more-btn').on('click', function () {
            var nextPage = $(this).data('next-page');
            $.ajax({
                url: window.location.href,
                data: {'page': nextPage},
                success: function (data) {
                    $('#logs-container').append(data.logs_html); // Добавляем новые логи к текущему списку
                    if (data.has_next) {
                        $('#show-more-btn').data('next-page', nextPage + 1); // Обновляем номер следующей страницы
                    } else {
                        $('#show-more-btn').remove(); // Удаляем кнопку, если больше нет логов
                    }
                    // Обновляем информацию о странице
                    if (data.num_pages) {
                        $('#page-info').text('Страница ' + nextPage + ' из ' + data.num_pages);
                        // Обновляем прогресс-бар
                        var progress = nextPage / data.num_pages * 100;
                        $('#progress-bar').css('width', progress + '%');
                        $('#progress-bar').attr('aria-valuenow', progress);
                    } else {
                        $('#page-info').text('Страница ' + nextPage);
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.error('Failed to load more logs:', err);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Обработчик изменения ползунка
        $('#range').on('input', function () {
            var power = $(this).val();
            var sensorId = {{ sensor.id }};

            // AJAX запрос для обновления мощности датчика
            $.ajax({
                url: '{% url "update_sensor_power" sensor.id %}',
                method: 'POST',
                data: {'power': power, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    if (data.success) {
                        var logItem = $('<li>').text('Мощность изменена: ' + power + '%');
                        $('#logs-container').prepend(logItem);
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.error('Failed to update power:', err);
                }
            });
        });

        // Обработчик изменения переключателя работы
        $('input[name="work"]').change(function () {
            $.post({
                url: '{% url "sensor_detail" sensor.pk %}',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data) {
                    if (data.success) {
                        location.reload();
                    }
                },
                dataType: 'json'
            });
        });


        // Обработчик нажатия клавиш
        $(window).keyup(function (e) {
            var target = $('.checkbox-green input:focus');
            if (e.keyCode == 9 && $(target).length) {
                $(target).parent().toggleClass('focused');
            }
        });

        // Инициализация слайдера
        new rSlider({
            element: "#range",
            tick: 10
        });
    });

    // Класс для создания слайдера
    class rSlider {
        constructor(args) {
            this.el = document.querySelector(args.element);
            this.min = +this.el.min || 0;
            this.max = +this.el.max || 100;
            this.step = +this.el.step || 1;
            this.tick = args.tick || this.step;
            this.addTicks();
            this.dataRange = document.createElement("div");
            this.dataRange.className = "data-range";
            this.el.parentElement.appendChild(this.dataRange, this.el);
            this.updatePos();
            this.el.addEventListener("input", () => {
                this.updatePos();
            });
        }

        // Добавление делений на слайдер
        addTicks() {
            let wrap = document.createElement("div");
            wrap.className = "range";
            this.el.parentElement.insertBefore(wrap, this.el);
            wrap.appendChild(this.el);
            let ticks = document.createElement("div");
            ticks.className = "range-ticks";
            wrap.appendChild(ticks);
            for (let t = this.min; t <= this.max; t += this.tick) {
                let tick = document.createElement("span");
                tick.className = "range-tick";
                ticks.appendChild(tick);
                let tickText = document.createElement("span");
                tickText.className = "range-tick-text";
                tick.appendChild(tickText);
                tickText.textContent = t;
            }
        }

        // Получение процента для позиции ползунка
        getRangePercent() {
            let max = this.el.max,
                min = this.el.min,
                relativeValue = this.el.value - min,
                ticks = max - min,
                percent = relativeValue / ticks;
            return percent;
        }

        // Обновление положения и значения ползунка
        updatePos() {
            let percent = this.getRangePercent(),
                left = percent * 100,
                emAdjust = percent * 3;
            this.dataRange.style.left = `calc(${left}% - ${emAdjust}em)`;
            this.dataRange.innerHTML = this.el.value;
        }
    }
</script>
<script>
    document.getElementById('deleteSensorLink').addEventListener('click', function (event) {
        event.preventDefault();
        $('#deleteSensorModal').modal('show');
    });

    document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
        var sensorId = {{ sensor.id }};
        fetch(`/sensor/${sensorId}/delete/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        }).then(function (response) {
            if (response.ok) {
                window.location.href = "{% url 'sensor_list' %}";
            } else {
                console.error('Ошибка удаления датчика:', response.status);
            }
        }).catch(function (error) {
            console.error('Ошибка удаления датчика:', error);
        });
    });

    $(document).mouseup(function (e) {
        var container = $('#deleteSensorModal');
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.modal('hide');
        }
    });
</script>
</body>