{% load static %}
<style>
    .custom-form {
        position: relative;
        width: 200px;
        margin: 0 auto;
    }

    .d1 input {
        width: 100%;
        height: 30px;
        padding-left: 10px;
        border: 2px solid #1A73E8;
        border-radius: 10px;
        outline: none;
        background: #ffffff;
        color: #000000;
    }


    .d1 button {
        position: absolute;
        top: 0;
        right: 0px;
        width: 42px;
        height: 30px;
        border: none;
        background: #1A73E8;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    .d1 button:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 16px;
        color: #F9F0DA;
    }

    #search::placeholder {
        color: black;
    }
</style>
<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="d1">
            <form class="custom-form" action="{% url 'search_sensors' %}" method="get">
                <input id="search" type="text" name="q" placeholder="Искать здесь...">
                <button type="submit"></button>
            </form>
        </div>
    </div>
    <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                </div>
            </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
        </li>
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                {% for notification in notifications %}
                    <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                            <div class="d-flex py-1">
                                <div class="my-auto">
                                    <img src="{% static 'img/illustrations/chat.png' %}" class="avatar avatar-sm me-3 ">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="text-sm font-weight-normal mb-1">
                                        <span class="font-weight-bold">Уведомление:</span> {{ notification.message }}
                                    </h6>
                                    <p class="text-xs text-secondary mb-0">
                                        <i class="fa fa-clock me-1"></i>
                                        {{ notification.timestamp|timesince }} ago
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item d-flex align-items-center">
                <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Выйти</span>
                </a>
            </li>
        {% else %}
            <li class="nav-item d-flex align-items-center">
                <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Войти</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>