<style>
    #power-chart {
        border-radius: 12px;
        box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.55), 0 4px 20px -2px rgba(0, 0, 0, 0.55);
        margin-bottom: 10px;
    }

    #power-chart-container button {
        background-color: #3c94ed;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 12px;
        outline: none;
    }

    #power-chart-container button:hover {
        background-color: #03468e;
    }

    #power-chart-container button:active {
        background-color: #3e8e41;
        transform: translateY(2px);
    }
</style>
<div class="chart" style="margin-bottom: 30px" id="power-chart-container">
    <div id="power-chart"></div>
    <button id="large">Большой</button>
    <button id="small">Маленький</button>
    <button id="auto">Автоматический</button>
</div>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
    (async () => {
        const sensorId = "{{ sensor.id }}";

        const data = await fetch(
            `/api/sensor_logs/${sensorId}/`
        ).then(response => response.json());


        Highcharts.setOptions({
            lang: {
                weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                shortMonths: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
            }
        });

        const chart = Highcharts.stockChart('power-chart', {
            chart: {
                height: 400,
                type: 'area',
                legend: {
                    enabled: true,
                    align: 'center',
                    verticalAlign: 'top',
                    layout: 'horizontal'
                }
            },
            xAxis: {
                title: {
                    text: 'Время'
                },
                labels: {
                    formatter: function () {
                        return Highcharts.dateFormat('%H:%M', this.value);
                    }
                },
                gridLineWidth: 1
            },
            yAxis: {
                title: {
                    text: 'Потребление',
                },
                labels: {
                    format: '{value} ВТ',
                    style: {
                        fontWeight: 'bold'
                    }
                },
                gridLineWidth: 1
            },
            plotOptions: {
                series: {
                    marker: {
                        enabled: true
                    },
                    animation: {
                        duration: 1000
                    }
                }
            },
            title: {
                text: 'График мощностей'
            },
            subtitle: {
                text: 'Для изменения размера окна нажмите на кнопки "Больше/Меньше"'
            },
            rangeSelector: {
                buttons: [{
                    type: 'hour',
                    count: 1,
                    text: '1ч'
                }, {
                    type: 'day',
                    count: 1,
                    text: '1д'
                }, {
                    type: 'month',
                    count: 1,
                    text: '1мес'
                }, {
                    type: 'month',
                    count: 3,
                    text: '3мес'
                }, {
                    type: 'month',
                    count: 6,
                    text: '6мес'
                }, {
                    type: 'year',
                    count: 1,
                    text: '1год'
                }, {
                    type: 'all',
                    text: 'Все'
                },],
                selected: 1,
                inputEnabled: true
            },
            series: [{
                name: 'Потребление',
                data: data,
                threshold: null,
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 1,
                        x2: 0,
                        y2: 0
                    },
                    stops: [
                        [0, Highcharts.color('green').setOpacity(0).get('rgba')],
                        [1, Highcharts.color('pink').setOpacity(50).get('rgba')]
                    ]
                },
                tooltip: {
                    valueDecimals: 0,
                    pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y}</b> Вт<br/>'
                }
            }],
            time: {
                timezoneOffset: 6 * 60
            },
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        chart: {
                            height: 300
                        },
                        subtitle: {
                            text: null
                        },
                        navigator: {
                            enabled: false
                        }
                    }
                }]
            }
        });

        document.getElementById('small').addEventListener('click', () => {
            chart.setSize(400, 300);
        });

        document.getElementById('large').addEventListener('click', () => {
            chart.setSize(800, 400);
        });

        document.getElementById('auto').addEventListener('click', () => {
            chart.setSize(null);
        });
    })();
</script>

