{% extends 'chat/chat.html' %}
{% block hide %}{% endblock %}
{% block messages %}
    {% for message in messages %}
        <div class="chat-panel">
            {% if message.sender == request.user %}
                <div class="row no-gutters">
                    <div class="col-md-3 offset-md-6">
                        <div class="reciver chat-bubble chat-bubble--right">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <div class="chat-bubble chat-bubble--left">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <script>
        $(function () {
            $('#user{{ receiver.id }}').addClass('active');
            setInterval(receive, 1000)
        })
    </script>
{% endblock %}
